:root{
    --bg-color:white;
    --txt-color:black;
    --border-color:#ececec;
    --selected-item:#cacaca;
}

.header-index,.header-profile,.white-highlights,.profile-white-frame,.footer-index,.body,.search-results-here,.white-frame,.post,.post-index,.footer-index,.section-index,.white-index,.search-index
{
    background-color: var(--bg-color);
}
.icon-option,.username-story,.username,.liked-info p,.translation,.comment-color,.margin-user,.middle-dot,.border-bottom,.leav-comment,.color-change
{
    color: var(--txt-color);
}

.search-index,.search-index:focus,.search-results-here,.post,.leav-comment,.footer-index,.search-index,.swiper1,.header-profile
{
  border-color: var(--border-color);
}
.block-button{
    border-color: var(--selected-item);
    color: var(--selected-item);
}
.border-bottom{
    border-color: var(--txt-color);
    color: var(--txt-color);
}



@media only screen and (max-width:600px) and (min-width:300px) {
.swiper1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color:var(--border-color);
}
.header-index{
    border: none;
}
 .show{
    border-bottom: 1px solid;
    border-color:var(--border-color);
 }
}
.send-comment{
    color: #1952fd;
}