/*--------------------------------------------------RESPONSIVE FOR: 1450-1000-----------------------------------------------------*/
@media only screen and (max-width:1450px) and (min-width:1000px) {
    
    /*STORY*/
    .profile-picture-story{
        width: 50px;
        height: 50px;
    }   
    .leav-comment{
        height: 40px;
    }
    
}
/*--------------------------------------------------RESPONSIVE FOR: 600-300-----------------------------------------------------*/
@media only screen and (max-width:600px) and (min-width:300px) {
    
    /*STORY*/
    .profile-picture-story{
        width: 61px;
        height: 61px;
    }   
    .leav-comment{
        height: 40px;
    }
    .frame{
        width: 69px;
        height: 69px;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #1952fd 90%);
    }   
    .white-frame{
        width: 65px;
        height: 65px;
    }
    .username-story,.margin-user{
        font-weight: 800;
        font-size: 13px;
    }
    .margin-user{
        margin-top:9px
    }

    /*HEADER*/
    .pc-header,.search-main{
        display:none;
    }
    .phone-header{
        display: flex;
        margin-right: -15px;
    }
    .headline-image{ 
        margin-left: 10px;
        margin-top: 5px;
    }   
    .header-index{
      padding-top: 0px;
      padding-bottom:0px;
      justify-content: space-between;
    }

    /*MAIN CONTENT*/
    .section-index,.posts-index{
        width: 100%;
        border:none;
    }
    .swiper1{
        width: 100%;       
        margin-top: -22px;
    }
    #story-index{
        padding:0px
    }
    .post{
        width: 100%;
        height:fit-content;
        margin-top: 0px;
        border:none;
    }
    .leav-comment{
        display:none;
    }
    .liked-info{
        margin-top:-10px;
        width: 90%;
        margin-left:10px;
    }
    .posts-index{
        padding:0px;
        margin-top: 1px;
    }
    .post-header{
        padding:0px;
        height: 44px;
    }
    .profile-image{
        height: 29px;
        width: 29px;
        border-radius: 50%;
    }
    .frame-index{
        width: 36px;
        height: 36px;
    }   
    .white-index{
        width: 33px;
        height: 33px;
    }
    .username{
        font-weight: 900;        
        font-size:15px
    }
    .margin-user-name{
        margin-left: 10px;
    }
    .font-for-comment{
        font-size:15px
    }
    .respondive-dots{
        font-size:20px
    }
    .profile-image-username{
        margin-left: 9px;
    }
    .respondive-dots{
        margin-right: 10px;
    }

    /*FOOTER*/
    .footer-index{
        display: flex;
    }
    .mrg-mob{
        margin-right: 0px;
    }
 
    
}