/*--------------------------------------------------RESPONSIVE FOR: 1450-1000-----------------------------------------------------*/
@media only screen and (max-width:1450px) and (min-width:1000px) {
    
    /*STORY*/
    .profile-picture-story{
        width: 50px;
        height: 50px;
    }   
    .leav-comment{
        height: 40px;
    }
    
}
/*--------------------------------------------------RESPONSIVE FOR: 600-300-----------------------------------------------------*/
@media only screen and (max-width:600px) and (min-width:300px) {
    
    /*STORY*/
    .profile-picture-story{
        width: 61px;
        height: 61px;
    }   
    .leav-comment{
        height: 40px;
    }
    .frame{
        width: 69px;
        height: 69px;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #1952fd 90%);
    }   
    .white-frame{
        width: 65px;
        height: 65px;
    }
    .username-story,.margin-user{
        font-weight: 800;
        font-size: 13px;
    }
    .margin-user{
        margin-top:9px
    }

    /*HEADER*/
    .pc-header,.search-main{
        display:none;
    }
    .phone-header{
        display: flex;
        margin-right: -15px;
    }
    .headline-image{ 
        margin-left: 10px;
        margin-top: 5px;
    }   
    .header-index{
      padding-top: 0px;
      padding-bottom:0px;
      justify-content: space-between;
    }

    /*MAIN CONTENT*/
    .section-index,.posts-index{
        width: 100%;
        border:none;
    }
    .swiper1{
        width: 100%;       
        margin-top: -22px;
    }
    #story-index{
        padding:0px
    }
    .post{
        width: 100%;
        height:fit-content;
        margin-top: 0px;
        border:none;
    }
    .leav-comment{
        display:none;
    }
    .liked-info{
        margin-top:-10px;
        width: 90%;
        margin-left:10px;
    }
    .posts-index{
        padding:0px;
        margin-top: 1px;
    }
    .post-header{
        padding:0px;
        height: 44px;
    }
    .profile-image{
        height: 29px;
        width: 29px;
        border-radius: 50%;
    }
    .frame-index{
        width: 36px;
        height: 36px;
    }   
    .white-index{
        width: 33px;
        height: 33px;
    }
    .username{
        font-weight: 900;        
        font-size:15px
    }
    .margin-user-name{
        margin-left: 10px;
    }
    .font-for-comment{
        font-size:15px
    }
    .respondive-dots{
        font-size:20px
    }
    .profile-image-username{
        margin-left: 9px;
    }
    .respondive-dots{
        margin-right: 10px;
    }

    /*FOOTER*/
    .footer-index{
        display: flex;
    }
    .mrg-mob{
        margin-right: 0px;
    }
 
    
}



/*------------------------------------------------------------RESPONSIVE FOR PROFILE------------------------------------*/  
@media only screen and (max-width:1680px) and (min-width:1070px){
    .section-profile{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        margin-top: 100px;
    }
    /*.button-width{
        padding-left: 70px;
        padding-right:70px;
    }*/
    .picture{
        height: 140px;    
    }
}

/*------------------------------------------------------------RESPONSIVE FOR PROFILE------------------------------------*/  
@media only screen and (max-width:1070px) and (min-width:800px){
    
    
    /*-------------section-----------*/
    .section-profile{    
        width: 100%;
        margin-top: 60px;
    }

    /*BUTTONS*/
   /* .button-width{
        padding-left: 0px;
        padding-right:0px;  
        text-align: center;     
    }

    .button-width{
        padding-left: 15px;
        padding-right:15px;
    }*/

    



    .highlight{
        margin-top:20px;
    }
    .white-highlights{
        width: 72px;
        height: 72px;
    }
    .highlights-image{
        width: 65px;
        height:65px;
    }
    .highlights-frame{
        width:75px;
        height: 75px;
    }
    .highlight-name{
        font-size:17px
    }
    .profile-button{
        font-size: 20px;
    }
    .profile-view{
        margin-top: -25px;
    }

    /*------------NUMBERS IN HEADER------*/
    .follower-number{
        font-size: 20px;
        font-weight:800;
    }
    .follower-block{      
        margin: 10px;
    }
    .follower-name{
        font-size: 15px;
        margin-top: -20px;
    }
    .followed-by,.biography{
        font-size:15px
    }
    .profile-name{
        font-size: 16px;
    }
    .personalisation{
        font-size:14px
    }
    
 /*--------------IMAGE OF PROFILE AND HEADER---------*/
    .profile-frame{
        width: 110px;
        height: 110px;       
    }
    .profile-white-frame{
        width: 105px;
        height: 105px;
    }
    .profile-image-pg{
        width: 102px;
        height: 102px;
    }
    .profile-username{
        font-size: 20px;
    }
    .icon-option{
        font-size: 20px;  
    }
    .header-profile{
        height: 40px;
    }
    

    /*------------PROFILE POSTS---------------*/
    .profile-posts{
        width: 100%;
        height: fit-content;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture{
        height: 120px;    
       }
}


/*------------------------------------------------------------RESPONSIVE FOR PROFILE------------------------------------*/  
@media only screen and (max-width:800px) and (min-width:700px){
    
    
    /*-------------section-----------*/
    .section-profile{    
        width: 80%;
        margin-top: 60px;
    }

    /*BUTTONS*/
    /*.button-width{
        padding-left: 15px;
        padding-right:15px;
    }*/
    .data-about-profile{
        width: 80%;
    }

    
 .highlights-frame{
        width:85px;
        height: 85px;
    }
    .highlight{
        margin-top:20px;
    }
    .white-highlights{
        width: 82px;
        height: 82px;
    }
    .highlights-image{
        width: 77px;
        height:77px;
    }
   
    .highlight-name{
        font-size:20px
    }
    .profile-button{
        font-size: 23px;
    }
    .profile-view{
        margin-top: -25px;
    }

    /*------------NUMBERS IN HEADER------*/
    .follower-number{
        font-size: 30px;
        font-weight:800;
    }
    .follower-block{      
        margin: 10px;
    }
    .follower-name{
        font-size: 20px;
        margin-top: -20px;
    }
    .followed-by,.biography{
        font-size:15px
    }
    .profile-name{
        font-size: 16px;
    }
    .personalisation{
        font-size:14px
    }
    
 /*--------------IMAGE OF PROFILE AND HEADER---------*/
    .profile-frame{
        width: 110px;
        height: 110px;       
    }
    .profile-white-frame{
        width: 105px;
        height: 105px;
    }
    .profile-image-pg{
        width: 95px;
        height: 95px;
    }
    .profile-username{
        font-size: 20px;
    }
    .icon-option{
        font-size: 20px;  
    }
    .header-profile{
        height: 40px;
    }
    

    /*------------PROFILE POSTS---------------*/
    .profile-posts{
        width: 100%;
        height: fit-content;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture{
        height: 150px;    
       }
}



/*------------------------------------------------------------RESPONSIVE FOR PROFILE------------------------------------*/  
@media only screen and (max-width:700px) and (min-width:500px){
    
    
    /*-------------section-----------*/
    .section-profile{    
        width: 80%;
        margin-top: 60px;
    }

    /*BUTTONS*/
    /*.button-width{
        padding-left: 15px;
        padding-right:15px;
    }*/
    .data-about-profile{
        width: 80%;
    }

    
 .highlights-frame{
        width:80px;
        height: 80px;
    }
    .highlight{
        margin-top:20px;
    }
    .white-highlights{
        width: 75px;
        height: 75px;
    }
    .highlights-image{
        width: 70px;
        height:70px;
    }
   
    .highlight-name{
        font-size:20px
    }
    .profile-button{
        font-size: 23px;
    }
    .profile-view{
        margin-top: -25px;
    }

    /*------------NUMBERS IN HEADER------*/
    .follower-number{
        font-size: 25px;
        font-weight:800;
    }
    .follower-block{      
        margin: 10px;
    }
    .follower-name{
        font-size: 16px;
        margin-top: -20px;
    }
    .followed-by,.biography{
        font-size:15px
    }
    .profile-name{
        font-size: 16px;
    }
    .personalisation{
        font-size:14px
    }
    
 /*--------------IMAGE OF PROFILE AND HEADER---------*/
    .profile-frame{
        width: 110px;
        height: 110px;       
    }
    .profile-white-frame{
        width: 105px;
        height: 105px;
    }
    .profile-image-pg{
        width: 95px;
        height: 95px;
    }
    .profile-username{
        font-size: 20px;
    }
    .icon-option{
        font-size: 20px;  
    }
    .header-profile{
        height: 40px;
    }
    

    /*------------PROFILE POSTS---------------*/
    .profile-posts{
        width: 100%;
        height: fit-content;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture{
        height: 110px;    
       }
}



